In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [9]:
df = pd.read_csv("D:\\overall_practice_Files\\Csv_files\\house.csv")

In [11]:
df

        City  OverallQual  GrLivArea  GarageArea  SalePrice
0     Mumbai            7       1710         548     208500
1      Delhi            6       1262         460     181500
2    Kolkata            7       1786         608     223500
3       Pune            7       1717         642     140000
4    Lucknow            8       2198         836     250000
..       ...          ...        ...         ...        ...
495  Lucknow            4        720           0      34900
496   Bhopal            8       3228         546     430000
497   Bhopal            7       1820         240     184000
498  Kolkata            5        899         288     130000
499  Lucknow            5        912         297     120000

[500 rows x 5 columns]

In [13]:
df.shape

(500, 5)

In [15]:
df.size

2500

In [19]:
df.ndim

2

In [21]:
df.sample()

       City  OverallQual  GrLivArea  GarageArea  SalePrice
168  Mumbai            7       1720         440     183500

In [23]:
df.head()

      City  OverallQual  GrLivArea  GarageArea  SalePrice
0   Mumbai            7       1710         548     208500
1    Delhi            6       1262         460     181500
2  Kolkata            7       1786         608     223500
3     Pune            7       1717         642     140000
4  Lucknow            8       2198         836     250000

In [25]:
df.tail()

        City  OverallQual  GrLivArea  GarageArea  SalePrice
495  Lucknow            4        720           0      34900
496   Bhopal            8       3228         546     430000
497   Bhopal            7       1820         240     184000
498  Kolkata            5        899         288     130000
499  Lucknow            5        912         297     120000

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City         500 non-null    object
 1   OverallQual  500 non-null    int64
 2   GrLivArea    500 non-null    int64
 3   GarageArea   500 non-null    int64
 4   SalePrice    500 non-null    int64
dtypes: int64(4), object(1)
memory usage: 19.7+ KB

City           object
OverallQual     int64
GrLivArea       int64
GarageArea      int64
SalePrice       int64
dtype: object

In [39]:
df.describe()

       OverallQual   GrLivArea   GarageArea      SalePrice
count   500.000000   500.00000   500.000000     500.000000
mean      6.140000  1515.75800   462.762000  182517.004000
std       1.356496   497.43392   207.759383   78602.740258
min       1.000000   520.00000     0.000000   34900.000000
25%       5.000000  1148.50000   312.000000  128425.000000
50%       6.000000  1463.00000   470.500000  165550.000000
75%       7.000000  1767.25000   576.000000  216625.000000
max      10.000000  3608.00000  1166.000000  555000.000000

In [43]:
df.dtypes

City           object
OverallQual     int64
GrLivArea       int64
GarageArea      int64
SalePrice       int64
dtype: object

In [45]:
df.isnull().sum().sum()

0

In [47]:
df.nunique()

City             6
OverallQual      9
GrLivArea      399
GarageArea     236
SalePrice      330
dtype: int64

In [57]:
#df.corr()

In [51]:
df['City'].unique()

array(['Mumbai', 'Delhi', 'Kolkata', 'Pune', 'Lucknow', 'Bhopal'],
      dtype=object)

In [59]:
from sklearn.preprocessing import LabelEncoder

In [61]:
cities = ['Mumbai', 'Delhi', 'Kolkata', 'Pune', 'Lucknow', 'Bhopal']

In [67]:
encoder = LabelEncoder()

In [69]:
numeric_cities = encoder.fit_transform(cities)

In [72]:
numeric_cities

array([4, 1, 2, 5, 3, 0], dtype=int64)

In [74]:
df['city']

KeyError: 'city'